---
import Helper from "@components/FloatingHelper/Helper.astro";
import Base from "@layouts/Base.astro";
---

<Base>
    <div id="yolo">
        <Helper />
        <img
            class="pfp"
            src="https://github.com/ry-diffusion.png"
            alt="pfp"
            decoding="async"
            loading="lazy"
            width="256"
            height="256"
        />

        <h3>Hello!</h3>

        <p>I am Ryster! Just a dude that likes coding.</p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Tellus
            in hac habitasse platea dictumst vestibulum rhoncus est. Semper eget
            duis at tellus at urna condimentum mattis. Mollis nunc sed id semper
            risus in hendrerit gravida. Auctor elit sed vulputate mi sit amet
            mauris commodo. Sagittis nisl rhoncus mattis rhoncus urna neque
            viverra justo. In ante metus dictum at. Tempor orci dapibus ultrices
            in iaculis nunc sed augue lacus. Accumsan lacus vel facilisis
            volutpat est velit egestas dui. Nisi scelerisque eu ultrices vitae
            auctor eu augue ut lectus. Tortor vitae purus faucibus ornare. Sed
            enim ut sem viverra aliquet eget sit amet. Arcu cursus vitae congue
            mauris rhoncus aenean vel elit. Massa placerat duis ultricies lacus
            sed turpis tincidunt id. Massa tincidunt nunc pulvinar sapien et.
            Placerat duis ultricies lacus sed turpis tincidunt id aliquet. Sed
            libero enim sed faucibus turpis in eu mi bibendum. Eros donec ac
            odio tempor orci dapibus ultrices in iaculis. Amet mauris commodo
            quis imperdiet massa tincidunt nunc pulvinar. Erat imperdiet sed
            euismod nisi. Ante metus dictum at tempor commodo ullamcorper a.
            Neque convallis a cras semper auctor neque vitae. Eget lorem dolor
            sed viverra ipsum nunc aliquet. Pellentesque id nibh tortor id
            aliquet. At in tellus integer feugiat scelerisque varius morbi enim
            nunc. Turpis egestas sed tempus urna. Lorem ipsum dolor sit amet.
            Massa tincidunt nunc pulvinar sapien et ligula ullamcorper
            malesuada. Libero enim sed faucibus turpis in eu. Nec tincidunt
            praesent semper feugiat nibh. Sed nisi lacus sed viverra. Erat
            imperdiet sed euismod nisi porta lorem mollis aliquam ut. Lectus
            proin nibh nisl condimentum id. Sed risus pretium quam vulputate
            dignissim suspendisse in. Ornare lectus sit amet est placerat in.
            Euismod lacinia at quis risus. Elit duis tristique sollicitudin nibh
            sit. Tincidunt dui ut ornare lectus sit amet. Augue mauris augue
            neque gravida. Condimentum id venenatis a condimentum vitae sapien
            pellentesque. Lacus vestibulum sed arcu non. Lacus luctus accumsan
            tortor posuere ac ut consequat. Arcu odio ut sem nulla pharetra diam
            sit amet. Massa sapien faucibus et molestie ac. Gravida quis blandit
            turpis cursus. Fames ac turpis egestas integer eget aliquet nibh
            praesent tristique. Mi eget mauris pharetra et ultrices neque
            ornare. Arcu cursus euismod quis viverra nibh cras pulvinar mattis.
            Ipsum faucibus vitae aliquet nec ullamcorper sit amet risus. Viverra
            mauris in aliquam sem fringilla ut. Tortor posuere ac ut consequat
            semper. Congue mauris rhoncus aenean vel elit. Sagittis orci a
            scelerisque purus semper eget duis at tellus. Dignissim suspendisse
            in est ante in. Scelerisque purus semper eget duis at tellus. Metus
            dictum at tempor commodo ullamcorper a lacus. Id faucibus nisl
            tincidunt eget nullam. Elementum nibh tellus molestie nunc. Volutpat
            maecenas volutpat blandit aliquam. Magna sit amet purus gravida quis
            blandit turpis cursus in. Risus in hendrerit gravida rutrum. Vivamus
            arcu felis bibendum ut tristique et egestas quis ipsum. Quis auctor
            elit sed vulputate mi sit amet mauris. Interdum consectetur libero
            id faucibus. Eget arcu dictum varius duis at consectetur lorem. Ut
            ornare lectus sit amet. At imperdiet dui accumsan sit amet nulla
            facilisi. Lectus nulla at volutpat diam ut venenatis tellus in
            metus. Enim nunc faucibus a pellentesque sit. Volutpat ac tincidunt
            vitae semper. Aliquam purus sit amet luctus venenatis lectus magna
            fringilla. Malesuada bibendum arcu vitae elementum curabitur vitae
            nunc. Ridiculus mus mauris vitae ultricies leo integer malesuada.
            Tristique senectus et netus et. Neque viverra justo nec ultrices dui
            sapien eget mi. Nibh cras pulvinar mattis nunc sed blandit libero
            volutpat sed. Suspendisse in est ante in nibh mauris cursus mattis
            molestie. Sed ullamcorper morbi tincidunt ornare massa eget egestas
            purus. Pulvinar etiam non quam lacus suspendisse faucibus interdum
            posuere. Enim ut sem viverra aliquet eget sit amet tellus. Convallis
            a cras semper auctor neque vitae tempus quam pellentesque. Massa id
            neque aliquam vestibulum. Consectetur adipiscing elit duis tristique
            sollicitudin nibh sit amet commodo. In hendrerit gravida rutrum
            quisque. Ullamcorper velit sed ullamcorper morbi tincidunt ornare.
            Dictum non consectetur a erat. Sed adipiscing diam donec adipiscing
            tristique risus nec. Mollis aliquam ut porttitor leo a diam
            sollicitudin tempor id. Adipiscing at in tellus integer feugiat
            scelerisque. Varius morbi enim nunc faucibus a pellentesque.
            Dignissim suspendisse in est ante in. Etiam dignissim diam quis enim
            lobortis scelerisque fermentum. Mattis enim ut tellus elementum
            sagittis vitae et. Sed id semper risus in hendrerit gravida.
            Volutpat diam ut venenatis tellus in metus vulputate eu scelerisque.
            Dignissim diam quis enim lobortis scelerisque fermentum dui
            faucibus. Ac placerat vestibulum lectus mauris ultrices eros in
            cursus turpis. Donec et odio pellentesque diam volutpat commodo sed
            egestas egestas. Est ultricies integer quis auctor. Tincidunt eget
            nullam non nisi est sit amet. Nec feugiat nisl pretium fusce id
            velit ut. Amet dictum sit amet justo donec enim. Bibendum ut
            tristique et egestas. Luctus accumsan tortor posuere ac ut consequat
            semper viverra nam. Pharetra et ultrices neque ornare. Consectetur
            libero id faucibus nisl tincidunt. Eget egestas purus viverra
            accumsan in nisl nisi scelerisque eu. Nunc sed blandit libero
            volutpat sed. Eu augue ut lectus arcu bibendum. Congue nisi vitae
            suscipit tellus mauris a diam. Tortor posuere ac ut consequat semper
            viverra nam libero. Mauris pharetra et ultrices neque ornare aenean
            euismod. In hac habitasse platea dictumst quisque sagittis. Interdum
            posuere lorem ipsum dolor sit. Aenean sed adipiscing diam donec
            adipiscing. Bibendum neque egestas congue quisque egestas diam in.
            Vestibulum lectus mauris ultrices eros in cursus turpis massa.
            Integer eget aliquet nibh praesent tristique magna sit amet.
            Ullamcorper malesuada proin libero nunc consequat. Sed euismod nisi
            porta lorem mollis aliquam ut porttitor. Risus viverra adipiscing at
            in tellus. Ut venenatis tellus in metus vulputate eu. Neque volutpat
            ac tincidunt vitae semper. Egestas tellus rutrum tellus pellentesque
            eu tincidunt tortor aliquam nulla. Id ornare arcu odio ut sem nulla
            pharetra diam. Egestas congue quisque egestas diam in. Vitae justo
            eget magna fermentum iaculis. Amet dictum sit amet justo donec enim
            diam vulputate. Blandit massa enim nec dui nunc. Vitae aliquet nec
            ullamcorper sit amet risus. At varius vel pharetra vel. Pulvinar
            mattis nunc sed blandit libero. Nunc non blandit massa enim nec dui
            nunc mattis enim. Congue nisi vitae suscipit tellus mauris a diam
            maecenas sed. Pretium nibh ipsum consequat nisl vel pretium lectus.
            Lorem mollis aliquam ut porttitor leo. Laoreet id donec ultrices
            tincidunt arcu. Nam at lectus urna duis convallis convallis tellus.
            Quis viverra nibh cras pulvinar mattis nunc sed blandit. Sit amet
            mattis vulputate enim nulla aliquet porttitor lacus. Quis varius
            quam quisque id diam vel. Leo urna molestie at elementum eu
            facilisis sed odio morbi. Odio pellentesque diam volutpat commodo
            sed egestas egestas. Nibh sit amet commodo nulla facilisi nullam
            vehicula ipsum a. Egestas integer eget aliquet nibh praesent
            tristique magna sit. Non diam phasellus vestibulum lorem sed risus.
            Ut porttitor leo a diam sollicitudin. Interdum posuere lorem ipsum
            dolor. Faucibus et molestie ac feugiat sed lectus vestibulum mattis.
            Leo a diam sollicitudin tempor id eu nisl nunc mi. A cras semper
            auctor neque vitae tempus. Tempus urna et pharetra pharetra massa
            massa ultricies mi quis. Congue nisi vitae suscipit tellus. Nisl
            rhoncus mattis rhoncus urna neque viverra. Et tortor at risus
            viverra adipiscing at in tellus integer. Sapien faucibus et molestie
            ac feugiat sed lectus vestibulum mattis. Velit dignissim sodales ut
            eu sem integer vitae justo. Arcu bibendum at varius vel. Cras sed
            felis eget velit aliquet sagittis id. Egestas quis ipsum suspendisse
            ultrices gravida dictum fusce. Mattis vulputate enim nulla aliquet
            porttitor lacus. Urna duis convallis convallis tellus id. Id cursus
            metus aliquam eleifend mi in nulla posuere. Lectus arcu bibendum at
            varius vel pharetra. Nunc vel risus commodo viverra maecenas
            accumsan. Vitae proin sagittis nisl rhoncus. Quis viverra nibh cras
            pulvinar mattis. Ipsum dolor sit amet consectetur adipiscing elit
            duis. Tempor id eu nisl nunc mi ipsum faucibus vitae. Semper eget
            duis at tellus at urna condimentum mattis. Scelerisque in dictum non
            consectetur. Convallis convallis tellus id interdum velit laoreet
            id. Ornare arcu odio ut sem nulla. Arcu felis bibendum ut tristique
            et egestas quis ipsum. Nunc vel risus commodo viverra maecenas.
            Placerat duis ultricies lacus sed turpis. Sem et tortor consequat id
            porta nibh venenatis cras. Purus viverra accumsan in nisl nisi
            scelerisque eu ultrices vitae. Dignissim convallis aenean et tortor
            at risus viverra adipiscing. Tristique magna sit amet purus gravida
            quis blandit. Sit amet aliquam id diam maecenas ultricies mi.
            Dapibus ultrices in iaculis nunc sed augue. In mollis nunc sed id
            semper risus. Netus et malesuada fames ac turpis. Aliquet sagittis
            id consectetur purus. Ac turpis egestas integer eget. Tristique
            senectus et netus et malesuada fames ac turpis. Tellus elementum
            sagittis vitae et leo duis ut. Turpis egestas integer eget aliquet
            nibh. Arcu ac tortor dignissim convallis aenean et tortor. Dolor
            morbi non arcu risus quis varius quam quisque. Lorem donec massa
            sapien faucibus et molestie ac feugiat. Sem nulla pharetra diam sit
            amet nisl suscipit. Risus ultricies tristique nulla aliquet enim
            tortor at auctor. Laoreet suspendisse interdum consectetur libero id
            faucibus nisl tincidunt. A iaculis at erat pellentesque adipiscing
            commodo elit. Cursus eget nunc scelerisque viverra mauris in aliquam
            sem fringilla. Et netus et malesuada fames ac turpis egestas sed
            tempus. Scelerisque mauris pellentesque pulvinar pellentesque
            habitant. Nunc consequat interdum varius sit amet. Turpis egestas
            sed tempus urna. Ut porttitor leo a diam. Nam at lectus urna duis
            convallis convallis. Turpis nunc eget lorem dolor sed. Non tellus
            orci ac auctor augue mauris augue neque. Consequat ac felis donec
            et. Risus viverra adipiscing at in tellus. Augue mauris augue neque
            gravida in. Est ante in nibh mauris cursus mattis molestie a. Amet
            mattis vulputate enim nulla aliquet porttitor lacus luctus accumsan.
            Rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt.
            Id donec ultrices tincidunt arcu non sodales neque sodales ut.
            Sagittis orci a scelerisque purus semper eget duis at tellus.
            Imperdiet sed euismod nisi porta lorem mollis aliquam ut porttitor.
            Purus gravida quis blandit turpis cursus in hac habitasse platea. Ut
            sem nulla pharetra diam sit amet nisl. Curabitur gravida arcu ac
            tortor dignissim. Nulla posuere sollicitudin aliquam ultrices
            sagittis orci a scelerisque purus. Tellus molestie nunc non blandit
            massa enim nec. Convallis aenean et tortor at risus viverra
            adipiscing at. Donec ac odio tempor orci dapibus ultrices in.
            Rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt
            lobortis. Ornare massa eget egestas purus viverra accumsan in. Enim
            praesent elementum facilisis leo vel. Varius morbi enim nunc
            faucibus. Suspendisse interdum consectetur libero id faucibus nisl
            tincidunt. Egestas maecenas pharetra convallis posuere. Ornare
            aenean euismod elementum nisi quis eleifend quam. Est placerat in
            egestas erat imperdiet sed euismod nisi. Enim sit amet venenatis
            urna cursus eget. Tellus molestie nunc non blandit massa enim nec.
            Amet nulla facilisi morbi tempus iaculis urna id volutpat. Faucibus
            nisl tincidunt eget nullam non nisi est sit amet. Tortor at auctor
            urna nunc id cursus. Ullamcorper dignissim cras tincidunt lobortis.
            Accumsan tortor posuere ac ut consequat semper. Neque egestas congue
            quisque egestas diam. Consectetur lorem donec massa sapien faucibus
            et molestie ac. A arcu cursus vitae congue mauris rhoncus. Nunc
            faucibus a pellentesque sit amet porttitor. Elit at imperdiet dui
            accumsan sit. Nec ultrices dui sapien eget mi proin sed. Odio tempor
            orci dapibus ultrices in iaculis nunc sed. Tempus quam pellentesque
            nec nam aliquam. Sem nulla pharetra diam sit. Nec nam aliquam sem et
            tortor. Tortor id aliquet lectus proin nibh. Ornare suspendisse sed
            nisi lacus. Amet facilisis magna etiam tempor. Dapibus ultrices in
            iaculis nunc. Viverra ipsum nunc aliquet bibendum enim facilisis
            gravida neque. Imperdiet massa tincidunt nunc pulvinar sapien.
            Tortor pretium viverra suspendisse potenti. Et netus et malesuada
            fames ac turpis egestas sed tempus. Cursus mattis molestie a iaculis
            at erat. Magna sit amet purus gravida. Iaculis eu non diam phasellus
            vestibulum lorem sed risus ultricies. Volutpat odio facilisis mauris
            sit. Vitae turpis massa sed elementum tempus egestas sed sed. Nunc
            non blandit massa enim nec dui nunc mattis enim. Velit aliquet
            sagittis id consectetur purus ut faucibus. Suscipit tellus mauris a
            diam maecenas sed enim ut. Sit amet nulla facilisi morbi tempus
            iaculis. Pulvinar pellentesque habitant morbi tristique senectus et.
            Nibh praesent tristique magna sit amet. Mi bibendum neque egestas
            congue quisque egestas diam. Est placerat in egestas erat imperdiet.
            Commodo nulla facilisi nullam vehicula ipsum. Vitae nunc sed velit
            dignissim sodales. Quis vel eros donec ac. Risus sed vulputate odio
            ut enim. Est ullamcorper eget nulla facilisi etiam dignissim diam.
            Viverra tellus in hac habitasse platea dictumst vestibulum rhoncus
            est. Dignissim suspendisse in est ante. Quis imperdiet massa
            tincidunt nunc pulvinar. Quisque sagittis purus sit amet volutpat
            consequat mauris nunc. Eu lobortis elementum nibh tellus. Dis
            parturient montes nascetur ridiculus. Nisl vel pretium lectus quam
            id leo in vitae turpis. Orci ac auctor augue mauris augue neque
            gravida. Felis bibendum ut tristique et egestas quis. Purus non enim
            praesent elementum facilisis leo. Ornare suspendisse sed nisi lacus
            sed viverra tellus in. Porttitor massa id neque aliquam vestibulum
            morbi blandit. Lacus viverra vitae congue eu consequat ac felis
            donec et. Laoreet id donec ultrices tincidunt arcu non sodales neque
            sodales. Morbi enim nunc faucibus a. Lacus laoreet non curabitur
            gravida arcu ac tortor. Eu facilisis sed odio morbi. Vitae congue
            mauris rhoncus aenean vel elit scelerisque mauris pellentesque.
            Sodales ut etiam sit amet nisl purus in. Felis eget velit aliquet
            sagittis id consectetur purus. Dui sapien eget mi proin sed libero
            enim sed faucibus. Tristique sollicitudin nibh sit amet commodo
            nulla facilisi nullam vehicula. Tempus urna et pharetra pharetra
            massa. Amet massa vitae tortor condimentum. Ante in nibh mauris
            cursus mattis molestie a iaculis. Faucibus vitae aliquet nec
            ullamcorper. Massa tincidunt dui ut ornare lectus sit amet est. Eu
            feugiat pretium nibh ipsum consequat nisl vel pretium lectus.
            Malesuada pellentesque elit eget gravida cum sociis natoque.
            Tristique risus nec feugiat in. A pellentesque sit amet porttitor
            eget dolor morbi non. Faucibus purus in massa tempor. Odio tempor
            orci dapibus ultrices in iaculis nunc sed. Sed velit dignissim
            sodales ut eu sem. Natoque penatibus et magnis dis. Vitae purus
            faucibus ornare suspendisse sed nisi lacus sed. Dignissim sodales ut
            eu sem integer vitae justo. Euismod lacinia at quis risus sed
            vulputate odio ut enim. Tortor pretium viverra suspendisse potenti
            nullam ac tortor vitae. Sodales neque sodales ut etiam sit amet.
            Vestibulum rhoncus est pellentesque elit. Elit duis tristique
            sollicitudin nibh sit. Sit amet porttitor eget dolor morbi non arcu
            risus quis. Nunc mi ipsum faucibus vitae aliquet nec ullamcorper sit
            amet. Fringilla phasellus faucibus scelerisque eleifend. Volutpat
            commodo sed egestas egestas fringilla phasellus faucibus scelerisque
            eleifend. Lacus vel facilisis volutpat est velit. A cras semper
            auctor neque. Massa massa ultricies mi quis hendrerit dolor magna.
            Id nibh tortor id aliquet lectus. Orci ac auctor augue mauris.
            Auctor augue mauris augue neque gravida in fermentum. Feugiat
            pretium nibh ipsum consequat nisl. In nisl nisi scelerisque eu
            ultrices vitae. Pellentesque elit eget gravida cum sociis natoque
            penatibus et. Pharetra pharetra massa massa ultricies mi. Id leo in
            vitae turpis. Lacus suspendisse faucibus interdum posuere lorem
            ipsum dolor. Etiam dignissim diam quis enim lobortis scelerisque
            fermentum dui. Suspendisse faucibus interdum posuere lorem ipsum
            dolor sit. Molestie nunc non blandit massa enim nec dui. Risus
            ultricies tristique nulla aliquet enim. Fringilla urna porttitor
            rhoncus dolor purus. Orci ac auctor augue mauris augue neque.
            Ridiculus mus mauris vitae ultricies leo integer. In pellentesque
            massa placerat duis ultricies lacus. At tellus at urna condimentum
            mattis pellentesque id. Scelerisque purus semper eget duis at.
            Nullam non nisi est sit amet. Mauris ultrices eros in cursus turpis
            massa. Et magnis dis parturient montes nascetur ridiculus. Egestas
            maecenas pharetra convallis posuere morbi leo urna molestie at.
            Habitant morbi tristique senectus et netus et malesuada fames. Magna
            fermentum iaculis eu non diam. Quisque egestas diam in arcu cursus
            euismod quis viverra. Volutpat blandit aliquam etiam erat velit
            scelerisque in dictum. Convallis tellus id interdum velit laoreet id
            donec ultrices. Turpis massa tincidunt dui ut ornare lectus sit.
            Pharetra massa massa ultricies mi. Dolor sit amet consectetur
            adipiscing elit ut. Semper viverra nam libero justo. Faucibus vitae
            aliquet nec ullamcorper. Vitae proin sagittis nisl rhoncus mattis
            rhoncus urna neque. Porta non pulvinar neque laoreet suspendisse
            interdum. Turpis egestas maecenas pharetra convallis posuere morbi.
            Maecenas volutpat blandit aliquam etiam erat velit scelerisque in
            dictum. Elementum tempus egestas sed sed risus. Vestibulum sed arcu
            non odio euismod lacinia at quis. Magna ac placerat vestibulum
            lectus mauris. Volutpat diam ut venenatis tellus in metus. Turpis
            egestas pretium aenean pharetra magna ac placerat vestibulum lectus.
            Tempus iaculis urna id volutpat lacus laoreet non. Mattis enim ut
            tellus elementum. Tincidunt lobortis feugiat vivamus at augue eget
            arcu. Pellentesque habitant morbi tristique senectus et netus et
            malesuada. Fusce id velit ut tortor pretium viverra suspendisse.
            Faucibus vitae aliquet nec ullamcorper sit amet risus. Ac turpis
            egestas maecenas pharetra convallis posuere. Urna cursus eget nunc
            scelerisque viverra mauris in aliquam. Eros donec ac odio tempor
            orci dapibus ultrices in iaculis. Viverra tellus in hac habitasse.
            Libero volutpat sed cras ornare arcu dui vivamus arcu. Tristique et
            egestas quis ipsum suspendisse. In nisl nisi scelerisque eu ultrices
            vitae auctor eu augue. Fermentum posuere urna nec tincidunt. Eu
            lobortis elementum nibh tellus molestie nunc non blandit. Blandit
            libero volutpat sed cras ornare arcu dui vivamus arcu. Placerat in
            egestas erat imperdiet sed. Ipsum faucibus vitae aliquet nec
            ullamcorper sit amet. Pharetra et ultrices neque ornare aenean.
            Libero enim sed faucibus turpis in eu mi bibendum neque. Quam lacus
            suspendisse faucibus interdum posuere. Curabitur gravida arcu ac
            tortor dignissim convallis aenean et tortor. Justo nec ultrices dui
            sapien eget mi proin sed. Elementum pulvinar etiam non quam lacus
            suspendisse faucibus interdum. A iaculis at erat pellentesque. Mi
            quis hendrerit dolor magna eget. Sit amet nisl purus in mollis nunc.
            Quisque egestas diam in arcu cursus euismod quis viverra nibh.
            Lacinia quis vel eros donec ac odio tempor orci dapibus.
            Pellentesque massa placerat duis ultricies lacus sed turpis
            tincidunt. Lectus quam id leo in vitae turpis massa sed elementum.
            Nam aliquam sem et tortor. Ultrices vitae auctor eu augue ut lectus
            arcu bibendum. Sit amet commodo nulla facilisi nullam vehicula
            ipsum. Mauris in aliquam sem fringilla ut morbi tincidunt augue
            interdum. Ante metus dictum at tempor commodo ullamcorper a lacus.
            Felis bibendum ut tristique et egestas quis ipsum suspendisse. Quis
            viverra nibh cras pulvinar mattis. Facilisi morbi tempus iaculis
            urna id volutpat lacus laoreet non. Rhoncus urna neque viverra justo
            nec ultrices. Cursus in hac habitasse platea. Dictumst quisque
            sagittis purus sit amet volutpat consequat mauris. Posuere urna nec
            tincidunt praesent semper feugiat nibh sed. Eu ultrices vitae auctor
            eu augue ut. Egestas dui id ornare arcu odio ut sem. Pretium
            vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae.
            Sem viverra aliquet eget sit amet. Ipsum a arcu cursus vitae. Purus
            in mollis nunc sed id semper risus. Orci eu lobortis elementum nibh
            tellus. Vel turpis nunc eget lorem dolor sed. Leo urna molestie at
            elementum eu. Amet nisl suscipit adipiscing bibendum est ultricies
            integer. Accumsan tortor posuere ac ut. Quis lectus nulla at
            volutpat diam ut venenatis. Enim blandit volutpat maecenas volutpat
            blandit aliquam etiam erat. Nunc sed blandit libero volutpat sed
            cras ornare. Felis imperdiet proin fermentum leo vel. Ultrices
            tincidunt arcu non sodales neque sodales ut. Eget est lorem ipsum
            dolor sit amet consectetur adipiscing elit. Purus in massa tempor
            nec feugiat nisl pretium fusce. Sed sed risus pretium quam vulputate
            dignissim suspendisse in est. At auctor urna nunc id cursus metus
            aliquam eleifend mi. Aliquam eleifend mi in nulla posuere
            sollicitudin. Ac placerat vestibulum lectus mauris. Pulvinar etiam
            non quam lacus suspendisse faucibus interdum. Aliquet sagittis id
            consectetur purus ut faucibus pulvinar elementum integer. Aliquet
            nibh praesent tristique magna sit amet. Pharetra diam sit amet nisl.
            Elementum nisi quis eleifend quam adipiscing vitae proin. Phasellus
            vestibulum lorem sed risus ultricies tristique nulla aliquet enim.
            Nibh sed pulvinar proin gravida hendrerit lectus a. Eget dolor morbi
            non arcu risus quis varius quam. Dictum fusce ut placerat orci nulla
            pellentesque dignissim enim sit. Quis ipsum suspendisse ultrices
            gravida dictum. Eu turpis egestas pretium aenean pharetra magna.
            Malesuada bibendum arcu vitae elementum curabitur vitae nunc.
            Consequat nisl vel pretium lectus quam id leo. Varius duis at
            consectetur lorem donec massa sapien faucibus et. Pretium viverra
            suspendisse potenti nullam ac tortor vitae purus faucibus. Non quam
            lacus suspendisse faucibus interdum. Gravida quis blandit turpis
            cursus. Libero enim sed faucibus turpis in eu mi bibendum. Faucibus
            purus in massa tempor nec feugiat nisl. Dignissim enim sit amet
            venenatis. Nunc sed blandit libero volutpat. Elementum curabitur
            vitae nunc sed velit dignissim sodales ut eu. Viverra nibh cras
            pulvinar mattis nunc sed. Vel pharetra vel turpis nunc eget lorem.
            Sit amet nisl suscipit adipiscing bibendum est ultricies. Auctor eu
            augue ut lectus arcu bibendum at varius vel. Ut tristique et egestas
            quis ipsum. Et sollicitudin ac orci phasellus egestas tellus. Quis
            blandit turpis cursus in hac habitasse. Sit amet tellus cras
            adipiscing enim. Sit amet luctus venenatis lectus magna fringilla
            urna porttitor. Aliquam ut porttitor leo a diam. Euismod elementum
            nisi quis eleifend quam adipiscing vitae. Porta lorem mollis aliquam
            ut porttitor. Malesuada pellentesque elit eget gravida cum sociis.
            Volutpat est velit egestas dui id. Turpis cursus in hac habitasse
            platea dictumst. Vitae sapien pellentesque habitant morbi tristique
            senectus et netus. In nibh mauris cursus mattis. Nascetur ridiculus
            mus mauris vitae. Pellentesque elit eget gravida cum sociis natoque
            penatibus et. Fermentum dui faucibus in ornare. Felis imperdiet
            proin fermentum leo vel orci porta. Vestibulum morbi blandit cursus
            risus. Eleifend mi in nulla posuere sollicitudin aliquam ultrices.
            Ultrices dui sapien eget mi proin sed libero. Ac ut consequat semper
            viverra nam libero justo laoreet sit. Malesuada fames ac turpis
            egestas maecenas. Lobortis scelerisque fermentum dui faucibus in
            ornare quam viverra orci. Et malesuada fames ac turpis egestas
            maecenas pharetra convallis posuere. Quam viverra orci sagittis eu
            volutpat odio facilisis mauris. Elit ut aliquam purus sit. Eu
            scelerisque felis imperdiet proin fermentum leo. Leo integer
            malesuada nunc vel risus commodo viverra maecenas accumsan. Diam vel
            quam elementum pulvinar etiam non. Turpis tincidunt id aliquet risus
            feugiat in. Vitae justo eget magna fermentum iaculis. Arcu dictum
            varius duis at consectetur lorem donec. Proin sagittis nisl rhoncus
            mattis. Risus quis varius quam quisque id diam vel. Quisque non
            tellus orci ac auctor augue. Lectus sit amet est placerat in egestas
            erat imperdiet sed. Ultrices tincidunt arcu non sodales neque
            sodales ut etiam. Vel turpis nunc eget lorem dolor sed viverra
            ipsum. Egestas fringilla phasellus faucibus scelerisque eleifend
            donec pretium. Leo vel fringilla est ullamcorper eget nulla facilisi
            etiam. Vitae tortor condimentum lacinia quis vel eros donec ac.
            Viverra aliquet eget sit amet tellus cras adipiscing enim eu. Quis
            eleifend quam adipiscing vitae proin. Amet mauris commodo quis
            imperdiet massa tincidunt nunc. Urna nec tincidunt praesent semper
            feugiat. Nulla facilisi etiam dignissim diam quis. Molestie at
            elementum eu facilisis sed odio. Viverra maecenas accumsan lacus vel
            facilisis volutpat est. Vestibulum rhoncus est pellentesque elit
            ullamcorper dignissim cras. Facilisi etiam dignissim diam quis enim.
            Nibh venenatis cras sed felis eget velit. Duis ut diam quam nulla
            porttitor. Sociis natoque penatibus et magnis dis parturient montes.
            Dolor morbi non arcu risus quis varius quam quisque. Ac orci
            phasellus egestas tellus rutrum. Egestas sed tempus urna et pharetra
            pharetra massa massa. Ut etiam sit amet nisl purus in. Justo eget
            magna fermentum iaculis. Non pulvinar neque laoreet suspendisse
            interdum consectetur libero id faucibus. Scelerisque fermentum dui
            faucibus in ornare quam viverra orci. Amet porttitor eget dolor
            morbi. Cursus sit amet dictum sit amet justo donec enim. Lorem dolor
            sed viverra ipsum nunc aliquet bibendum. Risus ultricies tristique
            nulla aliquet enim tortor at auctor. Elementum integer enim neque
            volutpat ac tincidunt vitae semper quis. Aenean euismod elementum
            nisi quis eleifend. Lorem ipsum dolor sit amet consectetur
            adipiscing elit pellentesque. Id diam vel quam elementum pulvinar
            etiam. Pulvinar neque laoreet suspendisse interdum consectetur
            libero. Placerat in egestas erat imperdiet sed euismod nisi.
            Tincidunt id aliquet risus feugiat in. Arcu dui vivamus arcu felis
            bibendum ut tristique et egestas. Enim lobortis scelerisque
            fermentum dui faucibus. Malesuada fames ac turpis egestas integer
            eget. Est ullamcorper eget nulla facilisi etiam dignissim. Ipsum
            consequat nisl vel pretium lectus quam id leo. Pulvinar pellentesque
            habitant morbi tristique senectus. Mi bibendum neque egestas congue
            quisque egestas. Metus dictum at tempor commodo. Enim ut tellus
            elementum sagittis vitae et leo duis ut. Vitae tempus quam
            pellentesque nec nam aliquam sem et. In iaculis nunc sed augue lacus
            viverra. Penatibus et magnis dis parturient montes nascetur
            ridiculus mus. Volutpat blandit aliquam etiam erat velit. Dui
            faucibus in ornare quam viverra. Potenti nullam ac tortor vitae
            purus faucibus ornare suspendisse sed. Est ultricies integer quis
            auctor elit sed vulputate mi. Ut tristique et egestas quis ipsum. Ut
            diam quam nulla porttitor. Fusce ut placerat orci nulla pellentesque
            dignissim enim. Nisl purus in mollis nunc sed id semper risus in.
            Netus et malesuada fames ac turpis egestas maecenas pharetra. Quam
            vulputate dignissim suspendisse in est ante in. Vitae tortor
            condimentum lacinia quis. Placerat vestibulum lectus mauris
            ultrices. Vestibulum lorem sed risus ultricies tristique nulla. Sed
            enim ut sem viverra. Netus et malesuada fames ac turpis egestas sed
            tempus. Libero nunc consequat interdum varius sit amet mattis
            vulputate enim. Dapibus ultrices in iaculis nunc sed. Ac odio tempor
            orci dapibus. Enim nunc faucibus a pellentesque sit amet porttitor
            eget. Integer feugiat scelerisque varius morbi enim nunc. Dolor
            purus non enim praesent elementum facilisis. Malesuada bibendum arcu
            vitae elementum curabitur vitae nunc sed. Eget felis eget nunc
            lobortis mattis aliquam faucibus purus in. Adipiscing bibendum est
            ultricies integer quis auctor elit sed. Vel quam elementum pulvinar
            etiam. Aliquam etiam erat velit scelerisque in dictum non. Malesuada
            fames ac turpis egestas sed tempus. Sed viverra tellus in hac
            habitasse platea. Vel orci porta non pulvinar neque laoreet
            suspendisse interdum. Ac placerat vestibulum lectus mauris.
            Habitasse platea dictumst quisque sagittis purus sit. Sed enim ut
            sem viverra aliquet eget sit amet tellus. Laoreet non curabitur
            gravida arcu ac tortor dignissim convallis aenean. Suspendisse
            faucibus interdum posuere lorem. Cursus sit amet dictum sit amet
            justo. A diam maecenas sed enim ut sem viverra aliquet eget. Ut
            aliquam purus sit amet luctus venenatis lectus magna. Gravida rutrum
            quisque non tellus. Egestas pretium aenean pharetra magna ac
            placerat vestibulum. Bibendum ut tristique et egestas quis. Sit amet
            mattis vulputate enim nulla. Turpis egestas maecenas pharetra
            convallis posuere. Suspendisse faucibus interdum posuere lorem ipsum
            dolor sit amet. Purus sit amet luctus venenatis lectus magna
            fringilla urna porttitor. Diam quam nulla porttitor massa id. Sapien
            nec sagittis aliquam malesuada bibendum. Eros in cursus turpis massa
            tincidunt dui ut ornare. Et odio pellentesque diam volutpat. At erat
            pellentesque adipiscing commodo. Velit euismod in pellentesque massa
            placerat duis ultricies lacus sed. Eget duis at tellus at urna
            condimentum mattis pellentesque. Id leo in vitae turpis massa sed.
            Mattis molestie a iaculis at. Bibendum enim facilisis gravida neque
            convallis a cras. Tellus elementum sagittis vitae et leo duis.
            Volutpat lacus laoreet non curabitur gravida arcu ac tortor.
            Ultrices sagittis orci a scelerisque purus semper eget. Magna ac
            placerat vestibulum lectus mauris. Habitasse platea dictumst quisque
            sagittis purus sit amet volutpat. Lectus vestibulum mattis
            ullamcorper velit. Dignissim enim sit amet venenatis urna cursus
            eget. Convallis convallis tellus id interdum. Vestibulum mattis
            ullamcorper velit sed ullamcorper. Volutpat maecenas volutpat
            blandit aliquam etiam erat velit scelerisque. Vel fringilla est
            ullamcorper eget nulla facilisi etiam. Tellus pellentesque eu
            tincidunt tortor aliquam nulla facilisi. Sit amet dictum sit amet
            justo. Aliquam eleifend mi in nulla posuere. Amet justo donec enim
            diam vulputate ut pharetra sit amet. Auctor elit sed vulputate mi
            sit amet mauris. Vitae nunc sed velit dignissim. Ultrices vitae
            auctor eu augue ut lectus arcu bibendum. Pellentesque elit eget
            gravida cum. Egestas egestas fringilla phasellus faucibus. Nullam
            eget felis eget nunc lobortis. Elit sed vulputate mi sit amet mauris
            commodo quis imperdiet. Magna eget est lorem ipsum dolor sit. Ipsum
            suspendisse ultrices gravida dictum fusce ut placerat orci. Aliquam
            malesuada bibendum arcu vitae elementum curabitur vitae nunc sed.
            Mauris pharetra et ultrices neque ornare aenean. Aliquet eget sit
            amet tellus cras. Sit amet consectetur adipiscing elit duis
            tristique. Velit egestas dui id ornare arcu. Ut pharetra sit amet
            aliquam id diam. Sed augue lacus viverra vitae congue eu consequat
            ac felis. Ante in nibh mauris cursus mattis. Duis at tellus at urna
            condimentum mattis pellentesque id nibh. Volutpat est velit egestas
            dui. Penatibus et magnis dis parturient montes. Suspendisse potenti
            nullam ac tortor vitae. Malesuada pellentesque elit eget gravida cum
            sociis natoque penatibus. Ornare quam viverra orci sagittis eu.
            Turpis nunc eget lorem dolor. Commodo ullamcorper a lacus
            vestibulum. Arcu dui vivamus arcu felis bibendum ut tristique et
            egestas. Enim diam vulputate ut pharetra sit amet aliquam id. Nunc
            sed id semper risus in. Sollicitudin aliquam ultrices sagittis orci
            a. Cursus risus at ultrices mi tempus imperdiet nulla. Sed faucibus
            turpis in eu mi bibendum neque. Quis viverra nibh cras pulvinar
            mattis nunc. Libero id faucibus nisl tincidunt. Sed sed risus
            pretium quam vulputate dignissim suspendisse in. Sed tempus urna et
            pharetra pharetra massa massa ultricies mi. Ut etiam sit amet nisl
            purus in mollis nunc. Dui nunc mattis enim ut tellus elementum.
            Mauris commodo quis imperdiet massa tincidunt nunc pulvinar sapien.
            Facilisis volutpat est velit egestas dui. Cursus metus aliquam
            eleifend mi. Laoreet non curabitur gravida arcu ac tortor dignissim
            convallis aenean. Est lorem ipsum dolor sit amet consectetur
            adipiscing elit. In eu mi bibendum neque egestas. Bibendum arcu
            vitae elementum curabitur vitae nunc sed velit dignissim. Aliquam
            malesuada bibendum arcu vitae. Ut placerat orci nulla pellentesque
            dignissim. Nibh tortor id aliquet lectus proin nibh nisl. Faucibus
            pulvinar elementum integer enim neque volutpat ac tincidunt vitae.
            Mauris vitae ultricies leo integer malesuada nunc vel risus commodo.
            In fermentum posuere urna nec tincidunt praesent semper feugiat
            nibh. Amet tellus cras adipiscing enim eu turpis egestas. Vel
            pretium lectus quam id leo in vitae turpis. Elementum integer enim
            neque volutpat ac tincidunt. Eleifend quam adipiscing vitae proin.
            At auctor urna nunc id cursus metus aliquam eleifend mi. Morbi leo
            urna molestie at elementum. Cursus mattis molestie a iaculis at.
            Rhoncus urna neque viverra justo nec ultrices dui sapien eget. Duis
            ut diam quam nulla porttitor massa. Habitant morbi tristique
            senectus et netus et. Cursus eget nunc scelerisque viverra mauris in
            aliquam. In fermentum et sollicitudin ac orci. Varius morbi enim
            nunc faucibus a pellentesque sit amet porttitor. Lorem ipsum dolor
            sit amet. Feugiat nisl pretium fusce id velit ut tortor pretium
            viverra. Viverra adipiscing at in tellus integer feugiat scelerisque
            varius morbi. Neque viverra justo nec ultrices dui sapien. Tincidunt
            tortor aliquam nulla facilisi cras fermentum odio eu feugiat. Nunc
            id cursus metus aliquam eleifend mi in nulla. Diam quam nulla
            porttitor massa id neque aliquam vestibulum morbi. Mauris sit amet
            massa vitae tortor. Convallis aenean et tortor at risus viverra
            adipiscing at in. Netus et malesuada fames ac turpis egestas
            maecenas pharetra. Facilisis magna etiam tempor orci. Mollis nunc
            sed id semper risus in hendrerit. Risus quis varius quam quisque. In
            hac habitasse platea dictumst vestibulum rhoncus est. Non nisi est
            sit amet facilisis magna etiam tempor orci. Vitae auctor eu augue ut
            lectus arcu bibendum at varius. Fermentum dui faucibus in ornare
            quam viverra. Ultricies leo integer malesuada nunc vel risus. Aenean
            pharetra magna ac placerat vestibulum. Duis ultricies lacus sed
            turpis tincidunt id aliquet risus feugiat. In massa tempor nec
            feugiat. Sodales ut etiam sit amet. Sit amet porttitor eget dolor
            morbi non arcu risus quis. Donec adipiscing tristique risus nec.
            Eget velit aliquet sagittis id consectetur purus ut. Egestas sed sed
            risus pretium quam vulputate dignissim. Ornare lectus sit amet est.
            Adipiscing elit ut aliquam purus. At imperdiet dui accumsan sit.
            Tempus quam pellentesque nec nam aliquam sem et tortor consequat.
            Nulla facilisi cras fermentum odio eu. Eget velit aliquet sagittis
            id. Cursus eget nunc scelerisque viverra mauris. At imperdiet dui
            accumsan sit. Vestibulum mattis ullamcorper velit sed. Ac auctor
            augue mauris augue neque gravida. Elit sed vulputate mi sit amet
            mauris. Morbi tristique senectus et netus et malesuada fames.
            Dignissim cras tincidunt lobortis feugiat vivamus at augue eget
            arcu. Arcu bibendum at varius vel pharetra vel. In est ante in nibh
            mauris cursus mattis. Mauris commodo quis imperdiet massa tincidunt
            nunc. Nisl condimentum id venenatis a condimentum vitae sapien
            pellentesque habitant. Duis tristique sollicitudin nibh sit amet
            commodo nulla. Sapien nec sagittis aliquam malesuada bibendum arcu.
            Quis ipsum suspendisse ultrices gravida dictum. A diam sollicitudin
            tempor id eu nisl nunc mi ipsum. Risus at ultrices mi tempus
            imperdiet nulla. Mauris rhoncus aenean vel elit. Odio tempor orci
            dapibus ultrices. Iaculis nunc sed augue lacus viverra vitae congue
            eu consequat. Purus in massa tempor nec feugiat nisl pretium fusce.
            Pellentesque habitant morbi tristique senectus et netus et malesuada
            fames. Facilisis sed odio morbi quis commodo odio. In massa tempor
            nec feugiat nisl. Sollicitudin aliquam ultrices sagittis orci a
            scelerisque purus. Ac placerat vestibulum lectus mauris ultrices
            eros in cursus. Nibh tortor id aliquet lectus proin nibh nisl
            condimentum. Tristique senectus et netus et malesuada fames. Proin
            fermentum leo vel orci porta non pulvinar neque. Sed sed risus
            pretium quam vulputate. Morbi leo urna molestie at elementum. Congue
            mauris rhoncus aenean vel elit scelerisque mauris pellentesque
            pulvinar. Diam ut venenatis tellus in metus vulputate. Sit amet
            facilisis magna etiam tempor orci eu lobortis. Risus quis varius
            quam quisque id diam vel quam elementum. Malesuada fames ac turpis
            egestas sed tempus urna et. Venenatis cras sed felis eget. Arcu non
            sodales neque sodales ut etiam sit amet nisl. Tristique risus nec
            feugiat in. Ornare massa eget egestas purus viverra accumsan in.
            Molestie at elementum eu facilisis sed odio morbi quis. Tellus in
            metus vulputate eu scelerisque felis.
        </p>
    </div>
</Base>

<style lang="scss">
    @use "../../styles/Pallete.scss" as p;
    @import url("https://fonts.googleapis.com/css?family=Kanit:900");

    h3 {
        transition: transform 0.5s ease;
    }

    h3:hover {
        cursor: default;
        transform: scale3d(-1, 1, -3);
    }

    $LIGHTING_FLOOR: 1;
    $LIGHTING_CEIL: 2;
    $LIGHTING_FLAT: 3;

    // credits: https://codepen.io/mfsamuel/pen/YjXgMd
    @mixin text3d(
        $primary,
        $depth: 5,
        $shadowsteps: 5,
        $shadowincrementer: 3px,
        $shadowopacity: 0.5,
        $primaryshadowcolour: #000,
        $lighting: $LIGHTING_CEIL
    ) {
        $predefinedShadows: (
            0 0 5px rgba($primaryshadowcolour, 0.05),
            0 -1px 3px rgba($primaryshadowcolour, 0.2),
            0 3px 5px rgba($primaryshadowcolour, 0.2)
        );
        $value: ();
        @for $i from 1 through $depth {
            $num: $i + px;
            $hueadjust: $i;
            @if ($lighting == $LIGHTING_FLOOR) {
                $hueadjust: ($i * 2 - $depth - 5) * 1%;
            } @else if ($lighting == $LIGHTING_CEIL) {
                $hueadjust: -($i * 2 + $depth - 10) * 1%;
            } @else if ($lighting == $LIGHTING_FLAT) {
                $hueadjust: -$depth * 1%;
            }
            $colour: adjust-color($primary, $lightness: $hueadjust);
            $theShadow: 0 $num 0 $colour;
            $value: append($value, $theShadow, comma);
        }

        @for $i from 1 through $shadowsteps {
            @if ($i >= length($predefinedShadows)) {
                $dist: $i * $shadowincrementer;
                $value: append(
                    $value,
                    0 $dist $dist rgba($primaryshadowcolour, $shadowopacity)
                );
            } @else {
                $value: append($value, nth($predefinedShadows, $i));
            }
        }

        text-shadow: $value;
    }

    #yolo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    h3 {
        transform: translateY(-50%);
        font-family: "Kanit";
        font-size: 48px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        @include text3d(
            adjust-color(p.$text2Color, $lightness: -8%),
            $depth: 8,
            $primaryshadowcolour:
                adjust-color(p.$text2Color, $lightness: -5%, $saturation: +10%),
            $shadowopacity: 0.2
        );
    }

    img {
        border-radius: 356px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    p {
        font-size: 24px;
        text-align: center;
    }
</style>
