---
import Base from "../../layouts/Base.astro";
---

<Base>
    <div id="yolo">
        <img
            src="https://github.com/ry-diffusion.png"
            alt="pfp"
            decoding="async"
            loading="lazy"
            width="256"
            height="256"
        />

        <h3>Hello!</h3>

        <p>I am Ryster! Just a guy that likes coding.</p>
    </div>
</Base>

<style lang="scss">
    @use "../../styles/Pallete.scss" as p;
    @import url("https://fonts.googleapis.com/css?family=Kanit:900");

    $LIGHTING_FLOOR: 1;
    $LIGHTING_CEIL: 2;
    $LIGHTING_FLAT: 3;

    // credits: https://codepen.io/mfsamuel/pen/YjXgMd
    @mixin text3d(
        $primary,
        $depth: 5,
        $shadowsteps: 5,
        $shadowincrementer: 3px,
        $shadowopacity: 0.5,
        $primaryshadowcolour: #000,
        $lighting: $LIGHTING_CEIL
    ) {
        $predefinedShadows: (
            0 0 5px rgba($primaryshadowcolour, 0.05),
            0 -1px 3px rgba($primaryshadowcolour, 0.2),
            0 3px 5px rgba($primaryshadowcolour, 0.2)
        );
        $value: ();
        @for $i from 1 through $depth {
            $num: $i + px;
            $hueadjust: $i;
            @if ($lighting == $LIGHTING_FLOOR) {
                $hueadjust: ($i * 2 - $depth - 5) * 1%;
            } @else if ($lighting == $LIGHTING_CEIL) {
                $hueadjust: -($i * 2 + $depth - 10) * 1%;
            } @else if ($lighting == $LIGHTING_FLAT) {
                $hueadjust: -$depth * 1%;
            }
            $colour: adjust-color($primary, $lightness: $hueadjust);
            $theShadow: 0 $num 0 $colour;
            $value: append($value, $theShadow, comma);
        }

        @for $i from 1 through $shadowsteps {
            @if ($i >= length($predefinedShadows)) {
                $dist: $i * $shadowincrementer;
                $value: append(
                    $value,
                    0 $dist $dist rgba($primaryshadowcolour, $shadowopacity)
                );
            } @else {
                $value: append($value, nth($predefinedShadows, $i));
            }
        }

        text-shadow: $value;
    }

    #yolo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    h3 {
        transform: translateY(-50%);
        font-family: "Kanit";
        font-size: 64px;

        @include text3d(
            adjust-color(p.$text2Color, $lightness: -8%),
            $depth: 8,
            $primaryshadowcolour:
                adjust-color(p.$text2Color, $lightness: -5%, $saturation: +10%),
            $shadowopacity: 0.2
        );
    }

    img {
        border-radius: 356px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    p {
        font-size: 24px;
        text-align: center;
    }
</style>
