<meta http-equiv="refresh" content="5;url=./en/" />
<h1>Redirecting to the <a href="/en">English website</a></h1>

<script lang="javascript">
    // Please github pages, accept this kudasai!
    if (window.location.href.endsWith("/")) {
        window.location = window.location.href + "en";
    } else {
        window.location = window.location.href + "/en";
    }
</script>

<style>
    :root {
        /* dark mode pls */
        color-scheme: dark;
    }
</style>
