@use "../../styles/Pallete.scss" as p;


.FloatHelper {
    position: sticky;
    bottom: 50px;
    z-index: 9999;
    background-color: rgba(p.$primary, 0.5);
    margin: 0.5em;
    border: p.$textColor solid 1px;
    border-radius: 25cap;
    backdrop-filter: blur(25px);

    display: flex;
    flex-direction: row;
}

.Svg {
    width: 1.5em;
    height: 1.5em;
}